@charset "UTF-8";

body{
    margin: 0;
}

h1{
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

ul{
    margin: 0;
    padding: 0;
}

ul li label{
   margin-right: 8px;
}

ul li input{
    margin-right: 8px;
 }

form{
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

form input{
    flex:1;
    padding: 4px;
}

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 16px;
}

.container{
    width: 400px;
    margin: 16px auto 0;
}

li input:checked + span{
    color: #ccc;
    text-decoration: line-through;
}


